@{
    ViewBag.Title = "About";
}
<h2>Ceviz Çeşitleri</h2>
<p>
    Türkiye’de yetişen yerli ceviz çeşitlerinin yanında farklı iklimlere uyumlu birçok ceviz çeşidi bulunmaktadır. Sıcak/soğuk iklimlere uyumluluğu,
    geç/erken uyanması, dölleme gerekliliği, meyve ağırlığı,ceviz rengi, iç ceviz oranı ve kabuk kalınlığı gibi birçok farklılığı görmek mümkündür. 
    Altta uluslararası popülerliği olan ceviz çeşitlerini bulabilirsiniz:
</p>
<div class="row">
    <div class="col-md-4">

        <h3>Chandler Cinsi</h3>
        <p> <img src="~/Content/resimler/Ceviz1.jpg" width="65%" /></p>
        <p>
            Chandler cinsi ceviz ağacı Nisan ayının başında uyanır ve yapraklanmaya başlar. Yan dalların tüm kısımlarında meyve oluşur 
            ve yüksek verimlidir. Kabuklu ve kurutulmuş bir chandler cinsi ceviz yaklaşık 13 gram ağrılığındadır; iç ceviz ağırlığı ise kabuğun 
            ağırlığına eşittir. İnce kabukludur ve kabuğu kolayca kırılır. İç cevizi açık renklidir ve kabuktan kolayca ayrılır. Ceviz bakteriyel 
            yanığına karşı duyarlıdır, bu sebepten yıllık koruma uyglamalarına dikkat edilmelidir.
            Dölleyici cinsleri Cisco, Franquette ve Fernette’dir. Chandler cinsinin meyveleri Ekim ayının başında hasada uygun hale gelir.
        </p>

    </div>

    <div class="col-md-4">

        <h3>
            Franquette cinsi
        </h3>
        <p> <img src="~/Content/resimler/Ceviz11.jpeg" width="80%" /></p>
        <p>
            Franquette cinsi en geç uyanan yaygın ceviz cinslerinden birisidir, Nisan ayının ortasından
            sonra uyanması beklenir. Kabuklu ve kurutulmuş bir Franquette ceviz yaklaşık 11 gram 
            ağırlığındadır, iç oranı ise %50’dir. Polenleri Chandler cinsnin dişi olgunluğunda hazır olduğu
            için çoğu zaman Chandler cinsinin dölleyicisi olarak kullanılır. Dalların uç kısmında meyve 
            oluşur ve verimi orta seviyedir. Orta kalınlıkta kabuğa sahiptir,
            açık renkli ve yüksek kalite iç ceviz üretir. Ekim ayının oralarında hasat için hazır olur.
        </p>

    </div>
    <div class="col-md-4">
        <h3>Cisco cinsi</h3>
        <p><img src="~/Content/resimler/Ceviz2.png" width="80%" /></p>
        <p>
            Cisco ceviz cinsi Franquette’ten hemen önce Nisan ayının oralarında uyanır. Kabuklu ve kurutulmuş
            meyvesi yaklaşık 14 gramdır. Chandler ve Howard cinsinin dölleyicisi olarak kullanılan bir cinstir.
            Franquette gibi dalların ucunda meyve oluşturur. 
            Kabuğu serttir ve iç ceviz rengi orta açıklıktadır. Ekim ayının ikinci haftalarında hasat için hazır olur.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Pedro cinsi</h3>
        <p><img src="~/Content/resimler/Ceviz4.jpg" width="70%"</p>
        <p>
            Pedro cinsi Nisan ayının başlarında uyanır. Kabuklu kuru hali 11 gram civarındadır. Kendi kendini 
            döllemesi zor olan bir cinstir ve Chandler cinsinin dölleyicileri olan Cisco ve Franquette ekilerek
            bu sorun çözülebilir. Orta seviye verimldir ve yüksek rakımlarda yetiştirilmesi önerilir.
            Diğer cinslere göre ağaç yapısı küçüktür ve istenilen boyuta ulaşması için ağır budama yapmak gerekir.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Payne/Ashley cinsi</h3>
        <p> <img src="~/Content/resimler/Ceviz5.jpg" width="75%" /></p>
        <p>
            Payne cinsi Mart ayının ortalarında uyanır. Kuru kabuklu hali 13 gram civarındadır. Sert ancak kolay 
            ayrılan kabuğa sahiptir. Yan dallarından orta seviyede verim verir. Eylül ayının ortalarında hasat 
            edilebilir ancak erken uyanıyor olması onu don olaylarına karşı duyarlı hale getirir. Mart ayında sıcaklığın sıfır derecenin 
            altına indiği iklimlerde ekilmesi önerilmez. Ashley ismi ile de anılır ancak Payne ile Ashley aynı cinsitir.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Serr cinsi</h3>
        <p><img src="~/Content/resimler/Ceviz7.jpg" width="65%" /></p>
        <p>
            Serr cinsi Mart ayının sonlarına doğru filizlenir. Kuru cevizi 14 gram civarındadır. Kabuğu incedir ve iç 
            ceviz kabuğu doldurur ve açık renklidir. Kendi kendini dölleyebilen bir cinstir, herhangi bir
            dölleyici kullanılması önerilmez. Aksine aşırı döllemeden dolayı erken meyve dökülmesine karşı duyarlıdır.
        </p>
    </div>

</div>