@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ceviz Üretim ve Hasadı</h2>
<div class="col-md-12">
    <p>
        Ülkemizin topraklarında bin yıllardır yetiştirilen ceviz, günümüzde geniş alanda üretiliyor. Türkiye, bugün dünyanın en büyük 4. ceviz 
        üreticisi konumunda bulunuyor. Tarım ve Orman Bakanlığı’nın Ceviz Yetiştiriciliği adlı yayınına göre ceviz, uzun ömürlü bir ağaç olarak tanınıyor.
        Büyük taç yapan ağaçlar, 30 metreye kadar uzayabiliyor.
        Tunceli Ceviz Yetiştiriciliği Raporu’na göre, cevizler juglandaceae familyasına ait görünüyor. Dünyadaki en yaygın türün ise Juglans Regia 
        olduğu biliniyor. İyi bir orman ağacı olan ceviz, kerestesi, meyvesi ile farklı endüstrilerde değerlendiriliyor. Besin değeri çok yüksek olan 
        meyvesi çokça tüketilirken, cevizlerin ekonomik ömrünün 100 yıldan fazla olması ise çiftçilerimizin yüzünü güldürüyor.
    </p>
    <h3>Ceviz Yetiştiriciliği Nasıl Yapılır?</h3>
    <p>
        Ceviz üretimi yapmak için uygun ekolojik özelliklere sahip iklim ve toprağa fidan ya da tohum dikilmelidir. Ceviz ağacının kökleri aşağı
        doğru 3-4 metreyi bulduğu için en azından 2 metre uzayabilecek toprak kalınlığı olmalıdır. Bu nedenle ilk aşamada ceviz yetiştirme koşulları
        burgu vanası ile toprak için kontrol edilir. Taban suyu yüksek olan topraklar kalınlığı yeterli olsa da seçilmez. Çünkü zaman içerisinde taban 
        suyu yüksekliği nedeniyle ağaçlar kurumaya başlar.
        Ceviz fidanı yetiştirme işlemi için ikinci aşamada yöntem ve fidan seçimi yapılır. Ceviz yetiştiriciliği için fidan yetiştiriciliği, vejetatif 
        tohumla çoğaltma, tohum katlama ve aşı ile çoğaltma yöntemleri uygulanır. Seçilen cevizin özelliklerine göre en verimli yöntem uygulanmalıdır.
        İklim ve toprak koşullarına uygun olarak yerli ve yabancı ceviz türleri tercih edilir. Yerli ceviz çeşitleri Bilecik, Şebin, Gültekin 1, 
        Yalova 1 /3 / 4, Şen 1 / 2, Tokat 1, Kaman 1, Kaplan 86, Yavuz 1 olarak geçer. Yabancı orijinli fidelerle Franquette, Fransız cevizi Fernor
        ve Fernette, Serr, Payne, Hartley, Pedro, Midland ve Chandler ceviz yetiştiriciliği de yapılır. Yabancı fideler arasında Amerikan orijinli 
        Chandler bodur ceviz yetiştiriciliği popülerdir.
    </p>
    <h3>
        Ceviz Yetiştirme Koşulları Nelerdir?
    </h3>
    <p>
        Ceviz ağaçlarının yetiştiği yerlerde 800-1800 saat soğuklama olan iklim ve deniz seviyesinden en fazla 1700 metre yükseklik olmalıdır. Verimli
        ceviz yetiştirme koşulları iklim ve toprak olarak iki ayrı kategoride değerlendirilir. Genel olarak yaz aylarında bol güneş alan, kışları ılıman 
        geçiren iklimlerde ve su tutmayan alt kısımları rutubetli topraklarda iyi yetişir.
        Ceviz ağacı ikliminin yaz aylarında aşırı sıcak olması yaprak yanması ve meyve bozulmasına neden olur. İlkbaharda ve sonbaharda oluşan zamansız
        donlar meyveler için risk oluşturur. Ceviz meyveleri sonbaharın sonlarına kadar gelişmeye devam ettiğinden özellikle genç ağaçlardaki sürgünler 
        tazeyse -10 derecede zarar görmeye başlar. Sonbahar ayında erken oluşan donlarda ortalama -9 ile -12 derece arası ceviz için zararlıdır. İlkbahar
        çiçeklenme döneminde ise -1 ile -3 dereceler bile zarar görmesi için yeterlidir. Ceviz ağacı -25 derece ile 38 dereceye kadar dayansa da zamansız
        oluşan sıcak ve soğuk hava meyvelere zarar verir.
        Ceviz ağacı birçok toprakta yetişse de taban suyu seviyesi 2,5 ile 3 metreden yukardaysa bir süre sonra kurumaya başlar. Nemli, su geçirgenliği
        yüksek ve tutulum yapmayan topraklar bu nedenle en verimli olanlardır. Killi topraklar, bataklık alanlarda ceviz yetiştirilmez. Vadileri yaylalar,
        teraslı araziler soğuk rüzgarları kestiğinden tercih edilen alanlardır. Meyvelerin erken olgunlaşmasını isteyen çiftçiler güney yamaçları, 
        ilkbahar donlarından korunmak isteyenler kuzey yamaçları ekim için kullanabilir.
    </p>
</div>


<div class="col-md-6">
    <h5>
        Ceviz Dikimi ve Hasat Zamanı
    </h5>
    <p>
        Türkiye’de ceviz dikim zamanı genellikle kasım ve mart aylarında olsa da yılın 12 ayı tüplü ve açık şekilde yapılabilir. Kış aylarında açık, yaz aylarında tüplü dikim yöntemi uygulandığında genellikle 
        başarılı sonuç alınır. Ceviz hasat zamanı iklim koşullarına göre değişmekle birlikte genellikle Ağustos ile Kasım başı arasındaki dönemde yapılır.
    </p>
    <h5>
        Ceviz Dikim Zamanı
    </h5>
    <p>
        Ceviz yetiştiriciliği püf noktaları arasında doğru dikim zamanını yakalamak vardır. Tohum ekilecek derinlik ve tohum dikim şekline dikkat 
        edilerek 5-10 cm toprak derinliğine yılın her mevsimi uygulanabilir. Açık köklü ve tüplü ceviz fidanı dikim zamanları ve yöntemleri farklıdır.

        Açık köklü ceviz fidanı dikiminde kış dinlenmesi döneminde fidan sökülerek yeni yerine taşınabilir. Genellikle Kasım ayından Nisan ayına kadar
        iklim koşullarına göre açık köklü fidan dikimi yapılır. Burada asıl beklenen ılıman iklimin oluşmasıdır. Kurak ve sıcak iklimlerde Kasım ile
        Nisan arasında da dikim yapılması mümkündür. Ortalama sıcaklığa sahip yerlerde Kasım-Aralık ile Şubat-Nisan dönemleri dikim için seçilir. 
        Kışların sert geçtiği iklimlerde ilkbaharın geldiği Mart ve nisan aylarında uygulama yapılır.

        Tüplü ceviz fidanı dikimi yılın her mevsimi uygun olsa da ılıman kış ve kurak yaz geçiren iklimlerde yaz harici dikim önerilir. Ilıman bölgelerde
        12 ay boyunca dikim yapılırken sert kışa sahip iklimlerde Nisan, Mayıs ve Haziran aylarında fidan dikimi başarılı sonuç verir.
    </p>
</div>
<div class=" col-md-6">
    <p><img src="~/Content/resimler/Ceviz9.jpg" /></p>
</div>
