@{
    ViewBag.Title = "Home Page";
}

  <div class="jumbotron">
      <h2>Ceviz Hakkında Genel Bilgiler</h2>
      <div class="row">
          <p class="lead lead, col-md-6">
              Ceviz, Juglandaceae (cevizgiller) familyasının Juglans cinsinden, tek tüysü yaprakları karşılıklı dizilmiş ve aromatik kokulu ağaç türlerinin ve bu ağaçların meyvelerinin ortak adı.

              Kışın yaprağını döken ağaçlardır. Genç sürgünlerin özü bölmelidir. Tomurcuklar az sayıda pullarla örtülmüştür. Yaprakçıkların kenarları bazı türlerde ince dişli, bazıları ise düzdür (tam kenarlı). Yaprakçık sayısı türlere göre (3) 5-23 arasında değişir.

              Çiçekler bir evciklidir. Erkek çiçekler bir önceki yılın sürgünlerinde yan durumlu, aşağıya sarkan kedicik halinde kurul oluşturur. Kurullar dallanmamıştır. Her bir erkek çiçeğin 1 brahte, 2 brahtecik ile 3-4 loplu bir çevre yaprağı (çanak) vardır. Etamin sayısı 7-105'tir.
              Dişi çiçekler ise yeni sürgünlerin ucunda terminal (tepede) durumlu dik duran 2-8 çiçekli fakir kurullar oluşturur. Dişi çiçeğinde 1 brahte, 2 brahtecik, 4 loplu çevre yaprağı vardır. Bunlar ovaryumla kaynaşmıştır, yalnız uçları serbesttir. Ovaryum alt durumludur; etli kalın 2 stigması oldukça gelişmiştir.

              Sonbaharda olgunlaşan büyük çekirdekli sulu meyvenin iç kısmı 2 bölmeye ayrılmıştır. Tohum 2 loplu ve yağlıdır.

            Odununun özü koyu, dış kısmı açık renkli, ağır ve güzel cila kabul eden odunları vardır.
          </p>
          <div class="col-md-6">
              <p><img src="~/Content/resimler/Ceviz1.jpg" width="90%"/></p>
          </div>
          <p class="lead">
              Ceviz Türkiye’nin batısına özgü bir yemiş olmasına karşın tarihte cevizin ticari olarak üretimi ilk olarak Yunanlılar tarafından gerçekleştirilmiştir.Günümüzde tüm dünyadaki ceviz üretiminin %60’ı ABD’nin Kaliforniya eyaletinde yapılmaktadır (300 bin tonun üzerinde).Ceviz, Ortaçağ İngilteresi ve 
              Antik Yunan’da akıl hastalıklarının tedavisinde kullanılmaktaydı.Roma döneminde doğurganlığı ve isteği arttırmak için yaygın olarak kullanılan yemişler arasında ilk sıralarda geliyordu.Pers cevizi olarak da bilinen “İngiliz cevizi” 1700’lü yıllarda ABD’ye götürülmüştür.Ceviz ağaçta yetişen en eski 
              gıdalardan biridir ve insanlar tarafından tüketilmeye başlaması M.Ö 10.000 yılına kadar dayanmaktadır.Dünya genelinde 30 farklı ceviz türü bulunmaktadır.Riboflavin, niasin, tiamin, pantotenik asit, B6 vitamini ve folat içeren ceviz B kompleks vitaminleri bakımından oldukça zengindir.

          </p>
      </div>
      <div class="row">
          <h2>Ceviz'in Faydaları </h2>
          <p class="lead">
              Ceviz Türkiye’nin batısına özgü bir yemiş olmasına karşın tarihte cevizin ticari olarak üretimi ilk olarak Yunanlılar tarafından gerçekleştirilmiştir.
               Günümüzde tüm dünyadaki ceviz üretiminin %60’ı ABD’nin Kaliforniya eyaletinde yapılmaktadır (300 bin tonun üzerinde).
               Ceviz, Ortaçağ İngilteresi ve Antik Yunan’da akıl hastalıklarının tedavisinde kullanılmaktaydı.
               Roma döneminde doğurganlığı ve isteği arttırmak için yaygın olarak kullanılan yemişler arasında ilk sıralarda geliyordu.
               Pers cevizi olarak da bilinen “İngiliz cevizi” 1700’lü yıllarda ABD’ye götürülmüştür.
               Ceviz ağaçta yetişen en eski gıdalardan biridir ve insanlar tarafından tüketilmeye başlaması M.Ö 10.000 yılına kadar dayanmaktadır.
               Dünya genelinde 30 farklı ceviz türü bulunmaktadır.
               Riboflavin, niasin, tiamin, pantotenik asit, B6 vitamini ve folat içeren ceviz B kompleks vitaminleri bakımından oldukça zengindir.

          </p>    
      </div>
  </div>
<div class="row">
    <div class="col-md-6">
        <h2>Çeşitleri</h2>
        <p><img src="~/Content/resimler/Ceviz11.jpeg" class="img-responsive img-rounded" width="80%"</p>
        <p class="lead">Türkiye’de yetişen yerli ceviz çeşitlerinin yanında farklı iklimlere uyumlu birçok ceviz çeşidi bulunmaktadır. Sıcak/soğuk iklimlere uyumluluğu, geç/erken uyanması, dölleme gerekliliği, meyve ağırlığı, ceviz rengi, iç ceviz oranı ve kabuk kalınlığı gibi birçok farklılığı görmek mümkündür. Altta uluslararası popülerliği olan ceviz çeşitlerini bulabilirsiniz:</p>
        <p> <a href="~/Home/About" class="btn btn-primary btn-sm"> Devamı &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Üretim</h2>
        <p><img src="~/Content/resimler/Ceviz7.jpg" width="90%" /></p>
        <p class="lead">Genel olarak ceviz ağacı; -25°C' ,+38°C' ye kadar dayanıklılık gösterir. beraber, taban suyu seviyesi 2.5-3.0 metreden yukarı olmayan, su tutmayan, nemliliğini muhafaza eden derin topraklarda iyi gelişir. Su tutan killi topraklarda ve durgun sulu yerlerde gelişemez.</p>
        <sp><a href="~/Home/Contact" class="btn btn-primary btn-sm"> Devamı &raquo;</a></sp>

    </div>
</div>